{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "electron": "25.1.1" }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
